# Namnet på certifikatfilerna kan antingen innehålla absoluta sökvägar
# som "/path/to/certificate.jks" eller en relativ sökväg i förhållande
# till system propertyn 'user.home'. Inledande / avgör hur klienten ska
# hantera filen.

lastFeed=https://api.mit.ladok.se/uppfoljning/feed/recent
useCert=true
clientCertificateFile=<filename>
clientCertificatePwd=<password>
