# Namnet på certifikatsfilerna kan antingen innehålla absoluta sökvägar
# som "/path/to/certificate.jks" alternativt en relativ sökväg i för-
# hållande till system propertin 'user.home'. Inledande / avgör hur
# clienten ska hantera filen.

restbase=https://api.mit.ladok.se/
clientCertificateFile=<filename>
clientCertificatePwd=<password>
trustStoreFile=<filename>
trustStorePwd=<password>